.update-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  width: 230px;
  height: 350px;
  border: 2px solid black;
  right: 120px;
  top: 130px;
  padding: 10px;
}
.update-form__input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.update-form__input {
  border: 0.5px solid black;
  width: 100%;
  height: 50px;
  margin-bottom: 2;
  font-size: 15px;
  font-family: sans-serif;
  text-transform: uppercase;
}
.update-form__submit-button {
  width: 70%;
  padding: 7px;
}
.hidden {
  display: none;
  opacity: 0;
}
