table {
	width: 100%;
	overflow: scroll;
	table-layout: fixed;
	border-collapse: collapse;
	overflow: hidden;
}

thead {
	font-size: 16px;
}

th {
	width: 210px;
	background-color: rgb(225, 216, 205);
	border: 1px solid black;
	text-align: center;
	font-size: 14px;
	padding: 0 10px;
}
th:nth-child(1) {
	padding: 0;
	width: 35px;
}
th:nth-child(2) {
	padding: 0;
	width: 50px;
}

td {
	position: relative;
	font-size: 16px;
	border: 1px solid black;
	padding: 3px;
}

td:nth-child(1) {
	background-color: rgb(183, 183, 183);
}
td:nth-child(6) {
	text-align: center;
}

td:last-child {
	text-align: center;
}

td:nth-child(1),
td:nth-child(2) {
	text-align: center;
}

td:hover::before {
	content: '';
	position: absolute;
	background: rgba(163, 163, 161, 0.346);
	height: 2000px;
	width: 100%;
	z-index: -1;
	left: 0;
	top: -1000px;
}
td:hover {
	background-color: rgba(229, 211, 188, 0.72);
	cursor: pointer;
}
tr:hover {
	background-color: rgba(225, 213, 213, 0.584);
}
