.confirm {
  width: 400px;
  background-color: white;
  border: 1.5px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.confirm__text-block {
  width: 100%;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}
.confirm__button-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.confirm__button-block button {
  padding: 5px 15px;
}

.hidden {
  display: none;
}
