@import '../../../variables/GridAreaVars.css';
@import './BotLeftLayout-body.css';
@import './BotLeftLayout-header.css';
@import './BotLeftLayout-footer.css';

.bot-left-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	grid-area: var(--grid-bot-left);
	overflow: auto;
	cursor: default;
}
