.cards-list__item {
	margin-bottom: 10px;
	padding: 0 15px;

	display: flex;
	flex-direction: column;
	gap: 6px;
}

.cards-list__item:last-child {
	margin-bottom: 0;
}

.cards-list__bottom-block {
	width: 70%;
	display: flex;
	justify-content: space-between;
}
.cards-list__item:hover {
	background-color: rgba(209, 201, 191, 0.619);
}
